body {
    background-color: #3498db;
    background-size: 100% auto;
    position: relative;
    overflow: hidden
}

h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
    color: white;
}

p {
    margin: 0;
    font-size: 1em;
    color: black;
    flex: 1;
}

th {
    margin: 0;
    font-size: 1em;
    color: black;
    flex: 1;
}

th:hover {
    cursor: pointer;
    background-color: #ddd;
}

td {
    margin: 0;
    font-size: 1em;
    color: black;
    flex: 1;
}

table {
    padding: 2em;
    width: 100%;
    position: relative;

}

.tableDiv {
    height: 550px;
    overflow-y: auto;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    z-index: 1;
}

.login-box {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
    height: 33%;
    position: relative;
}

.verify-box {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
    height: 25%;
    position: relative;
}

.register-box {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
    height: 61%;
    position: relative;
}

.main-page-box {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%;
    text-align: center;
    height: 80%;
    position: relative;
}

.form-title {
    font-size: 1.5em;
    color: #000102;
    text-align: center;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.verify-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

input,
button {
    margin: 0.5em 0;
    padding: 0.5em;
    width: calc(100%);
    box-sizing: border-box;
    border: none;
    border-left: 2px solid #3498db;
}

.input_mainpage,
.button_mainpage {
    margin: 0.5em 0;
    padding: 0.5em;
    width: calc(20%);
    box-sizing: border-box;
    border: none;
    border-left: 2px solid #3498db;
}

.button_mainpage2 {
    margin: 0.5em 0;
    padding: 0.5em;
    width: calc(5%);
    box-sizing: border-box;
    border: none;
    border-left: 2px solid #3498db;
    display: inline-block;
    margin-left: 20px;

}
.button_mainpage3 {
    margin: 0.5em 0;
    padding: 0.5em;
    width: calc(20%);
    box-sizing: border-box;
    border: none;
    border-left: 2px solid #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-user {
    margin-left: 95px;
    flex-grow: 1;
    text-align: center;
}

.welcome-user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-title2 {
    font-size: 1.5em;
    color: #000102;
    display: inline-block;
}

button {
    cursor: pointer;
}

dropdownItem {
    margin: 0.5em 0;
    padding: 0.5em;
    width: calc(100%);
    box-sizing: border-box;
    border: none;
    border-left: 2px solid #3498db;
}

.modalContainer {
    display: grid;
    align-items: center;
    color: white;
    z-index: 3;
    word-wrap: break-word;
    position: fixed;
    top: 23%;
    left: 25%;
    width: 50%;
}


.modalBox {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
}

.mountain {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #55c57a;
    z-index: -1;
}

.left-mountain {
    left: 0;
    width: 750px;
    height: 300px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.right-mountain {
    right: 0;
    width: 900px;
    height: 600px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.sun {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 150px;
    background-color: #f1c40f;
    border-radius: 50%;
}

.dropDownContainer {
    display: grid;
    align-items: center;
    color: white;
    z-index: 4;
    word-wrap: break-word;
    position: fixed;
    top: 37%;
    left: 26%;
    width: 25%;
}

.dropDownbox {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.task-list-container {
    height: 700px;
}

.date-button-container {
    display: flex;
    align-items: flex-start;
}

.modal-container {
    display: grid;
    align-items: center;
    color: white;
    z-index: 3;
    word-wrap: break-word;
    position: fixed;
    top: 23%;
    left: 25%;
    width: 50%;
}

.modal-box {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
}

.button_search {
    margin-right: 30px;
    padding: 0.5em;
    width: calc(3%);
    box-sizing: border-box;
    border: none;
}

/*React Calendar styles*/

.react-calendar {
  width: 1000px;
  height: 750px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin: 0 auto; 

}
.react-calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  height: 131px;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
